body {
  margin: 1% 1%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f8f9fa !important;
}

.greybanner {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgb(89, 89, 89);
  position: relative;
  height: 200px;
  width: 100%;
  margin-right: 10px;
}

table{
margin-right:  10px;
}
